
{#
    STANDARD PDF FOOTER
#}
<table style="width:100%; margin: 3px 30px;">
    <tr>
        <td style="width:85%; text-align:left">
            {{ licence|default("")|raw }}
        </td>
        <td style="width:15%; text-align:left;">
            <span class="page-number">Page </span>
        </td>
    </tr>
</table>

